* {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cad9d9;
}

:root {
    
  --current-color: #B92F2C;
  --primary-text-color: #f7f7f7;
  --secondary-text-color: #212121;
  --add-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --background-color: #f7f7f7;
  --backdrop-color: #00000033;
  --overlay-color: #00000066;
  --body-color: #cad9d9;
  --orange: orange;
  --white: #ffffff;
  --black: #010101;
  --bright-green: #12e319;
  --green: #0A8817;
  --red: #B92F2C;
  --blue: #2196f3;
  --yellow: #f8d24e;
  --lauren: #A4C495;
  --crimson: #dc143c;
  --teal: #008080;
  --grey: #f7f7f7;
  --orange: #ffa500;
  --purple: #9797e8;
  --beige: #f5f5dc;
  --adelyn: #C204B9;
  --chamomile: #E9DBC4;

  --time: 250ms;

  --shadow-one: 1rem 1rem 2rem rgb(65, 64, 64), -1rem -1rem 2rem rgb(82, 81, 81);
  --shadow-two:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --shadow-three:  rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --shadow-four:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  

  --color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 7%);
	--color-purple: hsl(291, 64%, 42%);
	--color-indigo: hsl(255, 100%, 57%);

	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
ul {
list-style: none;
  padding: 0;
}
li{
  padding: 0;
}


/* =====anim======== */

.btn {
	position: relative;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;

  padding: 8px 22px;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-white);
  background: var(--color-indigo);
  box-shadow: var(--shadow-large);
  cursor: pointer;

}

.btn-large {
  padding: 1rem 2.5rem;
}

.btn-primary {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-white);
  background: var(--color-indigo);
  box-shadow: var(--shadow-large);
}

.btn-circle {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: var(--color-white);
  transform: translate(-50%, -50%) scale(0);
  animation: scaling 0.35s ease-in-out;
}


i.fas {
  font-size: 1.15rem;
  margin-right: 0.75rem;
  color: var(--color-white);
}


@keyframes scaling {
	to {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3);
	}
}
/* DZ */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Стили компонента App
 */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

/*
 * Стили компонента Searchbar
 */
.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.SearchForm-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchForm-button:hover {
  opacity: 1;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}

/*
 * Стили компонента ImageGallery
 */
.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Стили компонента ImageGalleryItem
 */
.ImageGalleryItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ImageGalleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

/*
 * Стили компонента Modal
 */

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

/*
* Стили компонента Buton (Load more)
*/
.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #3f51b5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: #303f9f;
}
